* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* configurando o HEADER / NAV */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  background-color: #ffffff99;
  padding: 0 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.divNav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.videoDivNav {
  width: 4rem;
  height: 10vh;
}

.h1Nav {
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
}

.ulNav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.liNav {
  display: flex;
  text-decoration: none;
}

.aNav {
  text-decoration: none;
  color: black;
  background: #fdd01cff;
  padding: 0.5rem 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  border: 1px solid #fdd01cff;
  border-radius: 0.1rem;
}

/* Configurando o MAIN */

.Principal {
  width: 100%;
  height: 100vh;
  background-image: url("../img/img-main.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divOneMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  min-height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

.divOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.h2DivOne {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  background: #fdd01cff;
  padding: 0.5rem 1.2rem;
  color: #19191fff;
  font-weight: bold;
  border: 1px solid #fdd01cff;
  border-radius: 1rem;
}

.h3DivOne {
  font-family: "Oswald", sans-serif;
  font-size: 3.75rem;
  color: #ffffff;
}

.strongCor {
  color: #fdd01cff;
}

.pDivOne {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  color: #fafafbff;
  line-height: 1.75rem;
}

.divTwoDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.aDivTwo {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background: #fdd01cff;
  color: #19191fff;
  padding: 0.8rem 4rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-decoration: none;
}

.aDoisDivTwo {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #fdd01cff;
  padding: 0.8rem 2rem;
  border: 1px solid #fdd01cff;
  border-radius: 0.5rem;
  text-decoration: none;
}

/* Estilizando a SECTION */

.Sobre_Areial {
  background: #ffffff;
}

.divSecOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 3rem;
}

.figureCarlos {
  width: 100%;
  height: 32rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.figureCarlos:hover {
  transform: scale(1.03);
}

.imgMiojo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divTwoSecOne {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.h2Sobre {
  font-family: "Oswald", sans-serif;
  font-size: 2.25rem;
  color: #171a1fff;
  font-weight: 700;
}

.hrSobre {
  background: #fdd01cff;
  width: 80%;
  height: 0.5vh;
  border: 1px solid #fdd01cff;
  border-radius: 1rem;
}

.h3Experiencia {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.813rem;
  font-weight: 400;
}

.ulDivSecOne {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  place-items: flex-start;
}

.liDivOneSec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.verificado {
  width: 1rem;
}

.spanLi {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #171a1fff;
}

/* Estilizando a section nossos materias */

.Nossos_Materias {
  background: #fafafbff;
}

.divNossos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 1.5rem;
}

.divTwoNossos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.h2DivtwoNossos {
  font-family: "Oswald", sans-serif;
  font-size: 2.25rem;
  color: #171a1fff;
  font-weight: 700;
}

.hrDivTwoNosso {
  width: 12rem;
  height: 0.5vh;
  background: #fdd01cff;
  border: 1px solid #fdd01cff;
  border-radius: 1rem;
}

.h3DivTwoNossos {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.813rem;
  font-weight: 400;
}

.gridNossos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
}

.gridOne {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background: #ffffff;
  border: 3px solid #fdd01cff;
  padding: 2.5rem 3rem;
  gap: 1rem;
  overflow: hidden;
}

.videoGrid {
  width: 3rem;
  height: 3rem;
}

.h2Grid {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #171a1fff;
  font-weight: 700;
}

.h3Grid {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: #565d6dff;
  line-height: 1.4rem;
  font-weight: 400;
}

.aGrid {
  width: 35%;
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  font-weight: 700;
  transition:
    border 0.8s ease,
    color 0.8s ease;
  padding: 0.3rem;
}

/* Estilizando a section por que */

.PorQue {
  background: #ffffff;
}

.divOnePor {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
}

.divTwoPor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1.5rem;
}

.h2divTwoPor {
  font-family: "Oswald", sans-serif;
  font-size: 2.25rem;
  color: #171a1fff;
  font-weight: 700;
}

.hrDivTwoPor {
  width: 5rem;
  height: 0.5vh;
  background: #fdd01cff;
  border: 1px solid #fdd01cff;
  border-radius: 1rem;
}

.h3DivTwoPor {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.813rem;
  font-weight: 400;
}

.divThreePor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divFourPor {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.imgDivFourPor {
  width: 2rem;
  height: 2rem;
}

.divFivePor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 0.5rem;
}

.h2DivFivePor {
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  color: #171a1fff;
  font-weight: 800;
}

.h3DivFivePor {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: #565d6dff;
  line-height: 1.3rem;
  font-weight: 400;
}

.divSixPor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gridDivSixPor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.gridOneDivSixPor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  background: #fffae5ff;
  padding: 4rem;
  border-radius: 0.5rem;
}

.gridTwoDivSixPor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  background: #171a1fff;
  padding: 4rem;
  border-radius: 0.5rem;
}

.imgGridLocal,
.imgGridPreco {
  width: 2rem;
  height: 2rem;
}

.h2Atendimento {
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  color: #171a1fff;
  font-weight: 800;
}

.h2preco {
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 800;
}

.h3AmplaArea {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: #565d6dff;
  line-height: 1.3rem;
  font-weight: 400;
}

.h3OMelhor {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.3rem;
  font-weight: 400;
}

.divSevenPor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  text-align: left;
  width: 100%;
  height: 50vh;
  background-image: url("../img/escavadeira.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 1rem;
}
.pMateriasEntrega {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 800;
  padding: 1rem;
}

/* Estilizando a Section */
.Como_Funciona {
  background: #171a1fff;
}

.divComoF {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 5rem;
}

.divH2HrH3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.h2ComoFunciona {
  font-family: "Oswald", sans-serif;
  font-size: 2.25rem;
  color: #ffffff;
  font-weight: 800;
}

.hrComoFunciona {
  width: 8rem;
  height: 0.5vh;
  background: #fdd01cff;
  border: 1px solid #fdd01cff;
  border-radius: 1rem;
}

.h3ProcessoSimples {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.3rem;
  font-weight: 400;
}

.gridComo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  gap: 2rem;
}

.gridCliente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.imgCliente {
  width: 3rem;
  height: 3rem;
}

.POneCliente {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #fdd01cff;
  font-weight: 800;
}

.PTwoCliente {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5rem;
  font-weight: 400;
}

.aFazerPedido {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #19191fff;
  line-height: 1.3rem;
  font-weight: 400;
  padding: 0.9rem 3.5rem;
  border: 1px solid #fdd01cff;
  border-radius: 0.5rem;
  background: #fdd01cff;
}

/* Estilizando a Section Atendimento */

.Atendimento {
  background: #fafafbff;
}

.divAtendimento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 1rem;
}

.gridAtendimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridsOne {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #fffae5ff;
  border: 1px solid #dee1e6ff;
  border-radius: 0.5rem;
  padding: 6rem;
}

.horario {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.imgHorario {
  width: 1.5rem;
  height: 1.5rem;
}

.pHorario {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #171a1fff;
  font-weight: 700;
}

.seguASex,
.feriado,
.sabado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.pSegundaSex {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #19191fff;
  line-height: 1.5rem;
  font-weight: 600;
}

.pSete {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #19191fff;
  line-height: 1.5rem;
  font-weight: 600;
}

.hrHorarioOne {
  width: 100%;
  height: 0.1vh;
  background: #fdd01cff;
  border: 1px solid #fdd01cff;
  border-radius: 1rem;
}

.pSaba {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #19191fff;
  line-height: 1.5rem;
  font-weight: 600;
}

.pDomingo {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.5rem;
  font-weight: 600;
}

.pFechado {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.5rem;
  font-weight: 600;
}

.GridsTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 0.5rem;
  background: #ffffffff;
  border: 1px solid #dee1e6ff;
  border-radius: 0.5rem;
  padding: 6rem;
}

.divFale {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  gap: 1rem;
  padding-bottom: 1rem;
}

.imgTelefone {
  width: 2rem;
  height: 2rem;
}

.pFale {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #171a1fff;
  font-weight: 700;
}

.pEstamos {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.5rem;
  font-weight: 400;
}

.aNumero {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #fdd01cff;
  line-height: 1.3rem;
  font-weight: 400;
  padding: 0.9rem;
  border: 1px solid #fdd01cff;
  border-radius: 0.5rem;
  background: transparent;
}

.aChamar {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.3rem;
  font-weight: 400;
  padding: 0.9rem;
  border: 1px solid #fdd01cff;
  border-radius: 0.5rem;
  background: #fdd01cff;
}

/* Estilizando a Section Pronto */

.Pronto {
  background: #fdd01cff;
}

.divPronto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 60vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 1.5rem;
}

.h2Pronto {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  color: #171a1fff;
  font-weight: 800;
}

.h3NaoDeixa {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #19191fff;
  line-height: 1.813rem;
  font-weight: 500;
}

.aFalarW {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #1bbb5eff;
  line-height: 1.3rem;
  font-weight: 400;
  padding: 0.9rem 2rem;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  background: #ffffff;
}

/* Estilizando a Footer */

.Final_Pagina {
  background: #171a1fff;
}

.divFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 3rem;
}

.divTodosItens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.divFAreial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.7rem;
}

.pAreialFooter {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.pOParceiro {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.5rem;
  font-weight: 400;
}

.divContatoR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
}

.pContato {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fdd01cff;
}

.DivWhatssA,
.DivLoca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.imgWhatssA,
.imgLoca {
  width: 1rem;
  height: 1rem;
}

.aWhatssApp,
.PAtend {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

.divServicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
}

.pServicos {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fdd01cff;
}

.pEntregaBrita,
.pEntregaAreia,
.pEntregaTerra,
.pTerraplanagem,
.pDiferencias {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #565d6dff;
  line-height: 1.5rem;
  font-weight: 400;
}

.hrFooter {
  border: 1px solid #ffffff33;
}

.divDesenvolvimento {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pReservado {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: #565d6dff;
  line-height: 1.5rem;
  font-weight: 400;
}

.pDesenvolvido {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: #565d6dff;
  line-height: 1.5rem;
  font-weight: 400;
}

/* Estilizando a Div entrando lado esquerdo e direito */

.esquerda {
  transform: translateX(-40%);
  opacity: 0;
  transition:
    transform 1.5s ease,
    opacity 1.5s ease;
}

.direita {
  transform: translateX(40%);
  opacity: 0;
  transition:
    transform 1.5s ease,
    opacity 1.5s ease;
}

.entrouL {
  transform: translateX(0);
  opacity: 1;
}

/* Estilizando a Div entrando lado cima e baixo */

.cima {
  transform: translateY(-40%);
  opacity: 0;
  transition:
    transform 1.5s ease,
    opacity 1.5s ease;
}

.baixo {
  transform: translateY(40%);
  opacity: 0;
  transition:
    transform 1.5s ease,
    opacity 1.5s ease;
}

.entrouC {
  transform: translateY(0);
  opacity: 1;
}

/* Estilizando o hover */

@media (hover: hover) {
  /* section nossos materiais grid */
  .aGrid:hover {
    border: 1px solid #fdd01cff;
    border-radius: 1rem;
    color: #fdd01cff;
  }
}

/* estilizando o modo MOBILE CELULAR */

@media (max-width: 767px) {
  /* NAV */

  .ulNav {
    display: none;
  }

  .aNav {
    display: none;
  }

  /* MAIN */

  .divOne {
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .h3DivOne {
    font-size: 2.75rem;
  }
  .aDivTwo {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .aDoisDivTwo {
    padding: 0.8rem 1rem;
    text-align: center;
  }

  /* SECTION SOBRE AREIAL */
  .divSecOne {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .divTwoSecOne {
    margin-top: 3rem;
  }

  .hrSobre {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
  }

  .figureCarlos {
    width: 75%;
  }

  /* Section materias */

  .h2DivtwoNossos {
    font-size: 2rem;
  }

  .h3DivTwoNossos {
    text-align: center;
  }

  .gridNossos {
    grid-template-columns: 1fr;
  }

  .gridOne {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 40vh;
    padding: 1rem;
  }

  /* Section Por que */

  .divOnePor {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: 3rem 0;
  }

  .divTwoPor {
    align-items: center;
    text-align: center;
  }

  .gridOneDivSixPor,
  .gridTwoDivSixPor {
    padding: 2rem;
  }

  /* Section como funciona  */

  .divH2HrH3 {
    margin-top: 1rem;
  }
  .gridComo {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .aFazerPedido {
    margin-bottom: 1rem;
  }

  /* Grid Atendimento */
  .gridAtendimento {
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }

  /* Section Pronto */

  .h2Pronto {
    font-size: 2.2rem;
  }

  .h3NaoDeixa {
    font-size: 1.5rem;
  }

  /* section atendimento */

  .aChamar {
    text-align: center;
  }

  /* Footer */

  .divTodosItens {
    flex-direction: column;
    gap: 2rem;
  }
}

/* Media queries tablet */

@media (min-width: 768px) and (max-width: 1023px) {
  /* MAIN */

  .divOne {
    gap: 3rem;
  }

  /* SECTION SOBRE AREIAL */
  .divSecOne {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .divTwoSecOne {
    margin-top: 3rem;
  }

  .hrSobre {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
  }

  .figureCarlos {
    width: 75%;
  }

  /* Section materias */

  .h2DivtwoNossos {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .h3DivTwoNossos {
    text-align: center;
  }

  .gridNossos {
    grid-template-columns: 1fr;
  }

  .gridOne {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80%;
    width: 100%;
    height: 40vh;
    padding: 1rem;
    gap: 2rem;
  }

  /* Section Por que */

  .divOnePor {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: 3rem 0;
  }

  .divTwoPor {
    align-items: center;
    text-align: center;
  }
}
